* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

.skip__section {
    display: flex;
    align-items: center;
    justify-content: center;
    padding-top: 20px;
    padding-bottom: 40px;
}

img {
    width: 100%;
}

.half__width {
    width: 45%;
    justify-content: center;
}
.skip__content {
    margin-top: -162px;
}

.skip__content p {
    margin-top: 80px;
    font-size: 25px;
    
}

.button {
    text-decoration: none;
    color: aliceblue;
    background: linear-gradient(rgb(211, 63, 63), rgb(236, 122, 122));
    padding: 10px 30px;
    border-radius: 5px;
    margin: 30px 0px;
    display: inline-block;
    margin-top: 38px;
}

.skip__content h1 {
    font-size: 57px;
    color: gray;
}

.color__orange {
    color: rgb(211, 63, 63);
}

.about__me {
    background: url(./images/shapes/7.png);
    background-repeat: no-repeat;
    display: flex;
    align-items: center;
    justify-content: center;
    background-size: cover;
    width: 100%;
}

.about__me h1 {
    font-weight: 700;
    font-size: 36px;
    margin: 35px 0px;
    color: grey;
}

.about__me p {
    line-height: 29px;
}

.about__me  img {
    width: 50%;
    margin: 40px 0px;
}

.my__recipies,
.recipie__headline {
    text-align: center;
    justify-content: center;
    align-items: center;
    display: inline-block;
    width: 80%;
}

.recipie__headline h1 {
    font-size: 44px;
    color: grey;
}
.recipie__headline p {
    line-height: 27px;
    font-size: 19px;
    margin: 28px 0px;
}

.my__recipies .recipie__headline {
    width: 50%;
    padding: 77px 20px;
}

.recipie__container {
    background: rgb(236, 231, 231);
    margin: 20px;
    justify-content: center;
    align-items: center;
    text-align: center;
    border-radius: 20px;
    box-shadow: 0px 0px 20px grey;
}

.recipie__container p {
    line-height: 29px;
    margin: 10px 0px;
}
.recipies {
    display: flex;
    text-align: center;
    justify-content: center;
    align-items: center;
    margin-left: 177px;
    margin-right: -135px;
    margin-bottom: 124px;
}


.recipies p {
    margin-bottom: 44px;
}
.recipie__headline {
    margin-right: -294px;
}
.recipie {
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 2px;
}

.recipie img {
    display: inline-block;
    padding: 30px;
}
.one__third__width {
    width: 30%;
}

.subscriber__insta {
    display: flex;
    text-align: center;
    justify-content: center;
    align-items: center;
    margin-left: 177px;
    margin-right: -135px;
    margin-bottom: 124px;
    background: red;
    padding: 40px 2px;
    border-radius: 10px;
    box-shadow: 0px 0px 20px red;
}

.subscriber__insta h1 {
    font-size: 38px;
}


footer{
    background:rgb(30, 27, 27);
    color: white;
    padding: 109px 10px;
    text-align: center;
}

footer h1 {
    margin: 36px 0px;
}